/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* MY CODE */

/* 
font-family: "Lato", sans-serif;
font-family: "Roboto Mono", monospace; 
*/

* {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

header {
  position: fixed; /* this block of "postion" is used to make the header stay still as scrolling down */
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block; /* In order to move linked text we have to display block first */
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto; /* this code is used to center the ul block */
  width: fit-content; /* fits the width of content */
}

header nav ul li {
  display: inline-block; /* inline-block makes the linked texts stay in one row */
  float: left; /* this code is used to get rid of the space between list items */
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: "Lato";
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

header .header-cases {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }

  header nav ul {
    margin: 20px 0 0 20px; /* this code is used to center the ul block */
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .header-cases {
    display: block;
    font-family: "Lato";
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin: 30px 40px 30px 0px;
    padding: 0 20px;
  }
}

/* INDEX */

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  /* increases the height of the container for 100% of the screen */ /* calc function calculates the size of the height of the screen and does the equvation */
  background-image: url("img/banner2.jpg");
  background-repeat: no-repeat; /* doesn't repeat the picture */
  background-position: center; /* puts the picture in the center of the container */
  background-size: cover; /* covers the entire banner no matter of the size of the conatiner */
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  line-height: 65px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111; /* gives a shadow to the text */
}

.index-banner h1 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 24px;
  font-weight: 100;
  line-height: 36px; /* height between text lines */
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111; /* gives a shadow to the text */
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.index-links div h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100px; /* this code is used to centralize the text */
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-banner {
    height: 450px;
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }
  .index-boxlink-square {
    width: calc(25% - 20px) !important;
    /* !important is used to make an exceptional style */
  }

  .index-boxlink-rectangle {
    width: calc(50% - 20px) !important;
  }

  .index-links div h3 {
    line-height: 230px; /* this code is used to centralize the text */
  }
}

/* CASES */

.cases-links {
  overflow: hidden;
}

.cases-links h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}

.cases-links .cases-link {
  margin: 10px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.cases-links .cases-link p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100px; /* this code is used to centralize the text */
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

.cases-links .contact-me {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.cases-links .contact-me h3 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #111;
  padding-top: 15px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.cases-links .contact-me p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .cases-links {
    overflow: hidden;
  }

  .cases-links h2 {
    text-align: left;
  }

  .cases-links .cases-link {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0;
    background-color: #e3e3e3;
  }

  .cases-links .cases-link p {
    line-height: 230px;
  }

  .cases-links .contact-me {
    float: left;
    width: 980px;
    height: 230px;
    margin: 20px 10px 0 10px;
    background-color: #e3e3e3;
  }

  .cases-links .contact-me h3 {
    font-size: 24px;
    padding-top: 60px;
    line-height: 50px;
  }

  .cases-links .contact-me p {
    line-height: 25px;
  }
}
/* CASE1 */

.case-vid h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.case-vid video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.case-vid article h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.case-vid article p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #111;
  column-count: 3;
  column-gap: 30px;
}

/* FOOTER */

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #111;
  overflow: hidden; /* overflow is used to control the behavior of an element */
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-links-cases {
  display: none;
}

.footer-sm {
  width: 50px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .footer-links-cases {
    display: block;
  }

  footer ul li p {
    font-family: "Lato";
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
}
